<!DOCTYPE html>

<head>
	<title th:text="${author.firstName} + ' ' + ${author.lastName}"></title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<section id="flex-container">
		<div class="description"></div>
		<div class="description">
			<h1 th:text="${author.firstName} + ' ' + ${author.lastName}"></h1>
			<h3>Birth: </h3>
			<p th:text="${author.birthDate}"></p>
			<div th:if="${author.deathDate} != null">
				<h3>Death: </h3>
				<p th:text="${author.deathDate}"></p>
			</div>
			<h3>Nationality: </h3>
			<p th:text="${author.nationality}"></p>
		</div>
	</section>

	<div class="long-divider"></div>

	<div th:unless="${#lists.isEmpty(author.books)}">
		<section id="reviews">
			<h1>Books by the same author</h1>
			<div id="author-flex-container" th:if="${author.books != null}">
				<a class="flex-item" th:each="book : ${author.books}" th:href="@{/book/{id}(id=${book.id})}">
					<h3 th:text="${book.title}"></h3>
				</a>
			</div>
		</section>
	</div>

	<div class="white-margin"></div>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>