<!DOCTYPE html>
<html>

<head>
	<title th:text="${author.firstName} + ' ' + ${author.lastName}"></title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<nav>
		<div class="nav-items">
			<a href="/">Home</a>
		</div>
	</nav>

	<header>
		<h1 th:text="${author.firstName} + ' ' + ${author.lastName}"></h1>
	</header>

	<section>
		<div class="book-authors">
			<div class="book-authors" th:with="count=${author.books.size()}">
			  <h1 th:text="${count + (count == 1 ? ' book' : ' books')}"></h1>

			  <a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${author.books}">
			    <h3 th:text="${book.title}"></h3>
			  </a>
			</div>

		</div>

		<div class="description">
			<h1 th:text="${author.birthDate + '-' + author.deathDate}"></h1>
			<p th:text="${author.nationality}"></p>
		</div>

	</section>

	<footer>

	</footer>
</body>

</html>