<!DOCTYPE html>
<html>

<head>
	<title th:text="${book.title + ' (' + book.year + ')'}"></title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<nav>
		<div class="nav-items">
			<a href="/">Home</a>
		</div>
	</nav>

	<header>
		<h1 th:text="${book.title}"></h1>
	</header>

	<section>
		<div class="book-authors">
			<a class="flex-item" th:href="@{/author/{id}(id=${author.id})}" th:each="author : ${book.authors}">
				<h3 th:text="${author.firstName + ' ' + author.lastName}"></h3>
			</a>
		</div>

		<div class="description">
			<h1>Year of publication</h1>
			<p th:text="${book.year}"></p>
			
			<h2>Plot</h2>
			<p th:text="${book.plot}"></p>
		</div>
	</section>

	<footer>

	</footer>
</body>

</html>