<!DOCTYPE html>
<html>

<head>
	<title th:text="${book.title} + ' (' + book.year + ')'">Default Title</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<nav>
		<div class="nav-links">
			<a href="/">Home</a>
		</div>
	</nav>

	<header>
		<div class="title">
			<h1 th:text="${book.title}">Title</h1>
		</div>
	</header>

	<div class="homepage">
		<div class="books-container">
			<section class="books">
				<h1>Immagine</h1>
			</section>
		</div>

		<section id="side">
			<div class="side-info">
				<h1>The book's identity card</h1>
				<p th:text="'Year: ' + ${book.year}"></p>
				<p th:text="'Genre: ' + ${book.genre}"></p>
				<p th:text="${book.plot}"></p>
			</div>

			<div class="side-info">
				<h1>Authors</h1>
				<div id="flex-container" th:if="${book.authors != null}">
					<a class="flex-item" th:each="author : ${book.authors}" th:href="@{/author/{id}(id=${author.id})}">
						<h3 th:text="${author.firstName + ' ' + author.lastName}">Author Name</h3>
					</a>
				</div>
			</div>
		</section>
	</div>


	<div th:unless="${#lists.isEmpty(book.reviews)}">
		<section class="reviews">
			<h1 class="center-title">Reviews</h1>
			<div class="review" th:each="review : ${book.reviews}">
				<h1 th:text="${review.title + ' ' + review.mark + '/5'}">Review Title</h1>
				<p th:text="${review.description}">Review description</p>
			</div>
		</section>
	</div>
	<footer>

	</footer>
</body>

</html>