<!DOCTYPE html>
<html>

<head>
	<title>Books</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<h1 class="center-title">Our books</h1>
	<div id="flex-container">
		<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${books}">

			<div class="photo-container">
				<img th:if="${!#lists.isEmpty(book.photos)}" th:src="@{/bookPhoto/{id}(id=${book.photos[0].id})}"
					alt="Foto libro" />
			</div>

			<h3 th:text="${book.title}"></h3>
			<p>
				<span th:if="${not #lists.isEmpty(book.authors)}">of </span>
				<span th:each="author, iterStat : ${book.authors}">
					<span th:text="${author.firstName + ' ' + author.lastName}"></span><span th:if="${!iterStat.last}">,
					</span>
				</span>
			</p>
		</a>
	</div>

	<div th:replace="fragments/footer :: footer"></div>


</body>

</html>