<!DOCTYPE html>
<html>

<head>
	<title>Read&Rate</title>
	<link rel="stylesheet" href="/css/style.css?v=1">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
	<nav>
		<div class="nav-links">
			<h1>Read&Rate</h1>
			<div class="nav-menu">
				<a href="/show/books">Books</a>
				<a href="/show/authors">Authors</a>
				<a href="/">Login</a>
			</div>
		</div>
	</nav>


	<h1 class="center-title">Top rated books</h1>
	<section id="flex-container">
		<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${topBooks}">
			<h3 class="flex-title" th:text="${book.title}"></h3>
			<div th:unless="${#lists.isEmpty(book.authors)}" th:each="author : ${book.authors}">
				<p class="flex-description" th:text="${'of ' + author.firstName + ' ' + author.lastName}"></p>
			</div>
		</a>
	</section>

	<h1 class="center-title">Thrillers</h1>
	<section id="flex-container">
		<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${thrillerBooks}">
			<h3 th:text="${book.title}"></h3>
			<div th:unless="${#lists.isEmpty(book.authors)}" th:each="author : ${book.authors}">
				<p th:text="${'of ' + author.firstName + ' ' + author.lastName}"></p>
			</div>
		</a>
	</section>

	<h1 class="center-title">Romance</h1>
	<section id="flex-container">
		<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${romanceBooks}">
			<h3 th:text="${book.title}"></h3>
			<div th:unless="${#lists.isEmpty(book.authors)}" th:each="author : ${book.authors}">
				<p th:text="${'of ' + author.firstName + ' ' + author.lastName}"></p>
			</div>
		</a>
	</section>



	<!--
	<div class="homepage">
		<div class="books-container">
			<section class="books">

				<h2 class="center-title">Top rated books</h2>
				<div id="flex-container">
					<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${topBooks}">
						<h3 th:text="${book.title}"></h3>
						<div th:unless="${#lists.isEmpty(book.authors)}" th:each="author : ${book.authors}">
							<p th:text="${'of ' + author.firstName + ' ' + author.lastName}"></p>
						</div>
					</a>
				</div>
			</section>

			<div class="divider"></div>

			<section class="books">
				<h1 class="center-title">Thrillers</h1>
				<div id="flex-container">
					<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${thrillerBooks}">
						<h3 th:text="${book.title}"></h3>
						<div th:unless="${#lists.isEmpty(book.authors)}" th:each="author : ${book.authors}">
							<p th:text="${'of ' + author.firstName + ' ' + author.lastName}"></p>
						</div>
					</a>
				</div>
			</section>

			<div class="divider"></div>

			<section class="books">
				<h1 class="center-title">Romance</h1>
				<div id="flex-container">
					<a class="flex-item" th:href="@{/book/{id}(id=${book.id})}" th:each="book : ${romanceBooks}">
						<h3 th:text="${book.title}"></h3>
						<div th:unless="${#lists.isEmpty(book.authors)}" th:each="author : ${book.authors}">
							<p th:text="${'of ' + author.firstName + ' ' + author.lastName}"></p>
						</div>
					</a>
				</div>

			</section>
		</div>

		<div class="side-divider"></div>

		<section id="side">
			<div class="side-info">
				<h1>Read&Rate</h1>
				<p>Discover Read&Rate, the platform dedicated to those who love reading and sharing.
					Here you can find books of all genres, leave your reviews, read those of others and contribute to
					building a digital library free and open to all.
					Join the community of readers, explore new stories and make your voice heard!</p>
			</div>

			<div class="divider"></div>

			<div class="side-info">
				<h1>Author to discover</h1>
				<div id="flex-container">
					<a class="flex-item" th:href="@{/author/{id}(id=${randomAuthor.id})}">
						<h3 th:text="${randomAuthor.firstName + ' ' + randomAuthor.lastName}"></h3>
					</a>
				</div>
			</div>

			<div class="divider"></div>

			<div class="side-info">
				<h1>Discover even more books!</h1>
				<div id="flex-container">
					<a class="button" th:href="@{/show/books}">
						<p>View all</p>
					</a>
				</div>
			</div>


		</section>
	</div>
	-->
	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>